body {
    background-color: #000000 !important;
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-color: #000000 !important;
  }
  
  .content {
    flex: 1 0 auto;
  }
  
  .footer {
    flex-shrink: 0;
    padding: 20px 0;
  }